# Questions 1
List and its default functions.

clear()    	Removes all the elements from the list
copy()	    Returns a copy of the list
count()	    Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index() 	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	    Removes the element at the specified position
remove()	Removes the first item with the specified value
reverse()	Reverses the order of the list
sort()  	Sorts the list

## Append

In [347]:
lst = ["Himadri", 10, 7186, 126.43, [1,2,3]]

In [348]:
lst.append("Rupam")

In [349]:
lst

['Himadri', 10, 7186, 126.43, [1, 2, 3], 'Rupam']

# Clear

In [350]:
lst = ['Rupam', 10, 7186, 126.43, [1, 2, 3], 'Himadri']

In [351]:
lst.clear()

In [352]:
lst

[]

# Copy

In [353]:
lst = ['Rupam', 10, 7186, 126.43, [1, 2, 3], 'Himadri']

In [354]:
row = lst.copy()

In [355]:
row

['Rupam', 10, 7186, 126.43, [1, 2, 3], 'Himadri']

# Count

In [356]:
lst = ['Rupam', 10, 7186, 126.43, [1, 2, 3],'Himadri']

In [357]:
x = lst.count ("Arghya")

In [358]:
print(x)

0

## Extend

In [359]:
fruits = ['apple', 'banana', 'cherry']

In [360]:
cars = ['Ford', 'BMW', 'Volvo']

In [361]:
fruits.extend(cars)

In [362]:
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

# Index

In [363]:
fruits = ['apple', 'banana', 'cherry']

In [364]:
x = fruits.index("cherry")

In [365]:
print(x)

2

# #Questions 2
Dictionary and its default functions.

clear()  	  Removes all the elements from the dictionary
copy()	      Returns a copy of the dictionary
fromkeys()    Returns a dictionary with the specified keys and value
get()	      Returns the value of the specified key
items() 	  Returns a list containing a tuple for each key value pair
keys()	      Returns a list containing the dictionary's keys
pop()	      Removes the element with the specified key
popitem()	  Removes the last inserted key-value pair
setdefault()  Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

# Formkeys

In [366]:
x = ('key1', 'key2', 'key3')

In [367]:
y = 2

In [368]:
z = dict.fromkeys(x, y)

In [369]:
print(z)

{'key1': 2, 'key2': 2, 'key3': 2}

# Get

In [370]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

In [371]:
x = car.get("model")

In [372]:
print(x)

Mustang

# Items

In [373]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

In [374]:
x = car.items()

In [375]:
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

# Pop

In [376]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

In [377]:
car.pop("model")

'Mustang'

In [378]:
car

{'brand': 'Ford', 'year': 1964}

# Set Default

In [379]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

In [380]:
x = car.setdefault("model", "Bronco")

In [381]:
print(x)

Mustang

In [382]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Questions 3
Sets and its default functions.

Method	Description
add()	                        Adds an element to the set
clear()                        	Removes all the elements from the set
copy()	                        Returns a copy of the set
difference()                   	Returns a set containing the difference between two or more sets
difference_update()	            Removes the items in this set that are also included in another, specified set
discard()	                    Remove the specified item
intersection()	                Returns a set, that is the intersection of two other sets
intersection_update()          	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	                Returns whether two sets have a intersection or not
issubset()	                    Returns whether another set contains this set or not
issuperset()	                Returns whether this set contains another set or not
pop()	                        Removes an element from the set
remove()	                    Removes the specified element
symmetric_difference()        	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	                        Return a set containing the union of sets
update()	                    Update the set with the union of this set and others

# Difference

In [383]:
x = {"apple", "banana", "cherry"}

In [384]:
y = {"google", "microsoft", "apple"}

In [385]:
z = x.difference(y)

In [386]:
print(z)

{'banana', 'cherry'}

# Discard

In [387]:
fruits = {"apple", "mango", "cherry"}

In [388]:
fruits.discard("mango")

In [389]:
fruits

{'apple', 'cherry'}

# Difference Update

In [390]:
x = {"apple", "banana", "cherry"}

In [391]:
y = {"google", "microsoft", "apple"}

In [392]:
x.difference_update(y)

In [393]:
print(x)

{'banana', 'cherry'}

# Intersection

In [394]:
x = {"apple", "banana", "cherry"}

In [395]:
y = {"google", "microsoft", "apple"}

In [396]:
z = x.intersection(y)

In [397]:
print(z)

{'apple'}

# Indiasjoint

In [398]:
x = {"apple", "banana", "cherry"}

In [399]:
y = {"google", "microsoft", "facebook"}

In [400]:
z = x.isdisjoint(y)

In [401]:
print(z)

True

# Questions 4
Tuple and explore default methods.

count()	   Returns the number of times a specified value occurs in a tuple
index()	   Searches the tuple for a specified value and returns the position of where it was found

# Count

In [402]:
thistuple = (1, 3, 7, 8, 5 , 7 , 4, 6, 8, 5)

In [403]:
x = thistuple.count(5)

In [404]:
print(x)

2

In [405]:
thistuple1 = (1, 3, 7, 8, 5, 4, 6, 8, 5 , 7 ,6)

In [406]:
x = thistuple.count(7)

In [407]:
print (x)

2

In [408]:
thistuple2 = (1, 3, 7, 8, 5, 4, 6, 8, 5 , 7 ,6)

In [409]:
x = thistuple.count(8)

In [410]:
print(x)

2

# Index

In [411]:
thistuple = (1, 2, 3, 8, 7, 5, 3, 6, 8, 5)

In [412]:
x = thistuple.index(8)

In [413]:
print(x)

3

In [414]:
thistuple = (1, 2, 3, 8, 7, 5, 3, 6, 8, 5)

In [415]:
x = thistuple.index(3)

In [416]:
print(x)

2

# Questions 5
Strings and explore default methods.

capitalize()	Converts the first character to upper case
casefold() 	    Converts string into lower case
center()    	Returns a centered string
count()      	Returns the number of times a specified value occurs in a string
encode()     	Returns an encoded version of the string
endswith()   	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()      	Searches the string for a specified value and returns the position of where it was found
format()     	Formats specified values in a string
format_map()	Formats specified values in a string
index()	        Searches the string for a specified value and returns the position of where it was found
isalnum()	    Returns True if all characters in the string are alphanumeric
isalpha()    	Returns True if all characters in the string are in the alphabet
isdecimal()  	Returns True if all characters in the string are decimals
isdigit()   	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()   	Returns True if all characters in the string are lower case
isnumeric() 	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()   	Returns True if all characters in the string are whitespaces
istitle()   	Returns True if the string follows the rules of a title
isupper()   	Returns True if all characters in the string are upper case
join()      	Joins the elements of an iterable to the end of the string
ljust()      	Returns a left justified version of the string
lower()      	Converts a string into lower case
lstrip()     	Returns a left trim version of the string
maketrans() 	Returns a translation table to be used in translations
partition() 	Returns a tuple where the string is parted into three parts
replace()   	Returns a string where a specified value is replaced with a specified value
rfind()     	Searches the string for a specified value and returns the last position of where it was found
rindex()    	Searches the string for a specified value and returns the last position of where it was found
rjust()      	Returns a right justified version of the string
rpartition()  	Returns a tuple where the string is parted into three parts
rsplit()     	Splits the string at the specified separator, and returns a list
rstrip()     	Returns a right trim version of the string
split()     	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()      	Returns a trimmed version of the string
swapcase()	    Swaps cases, lower case becomes upper case and vice versa
title()      	Converts the first character of each word to upper case
translate()   	Returns a translated string
upper()	        Converts a string into upper case
zfill()      	Fills the string with a specified number of 0 values at the beginning

# Capitalize

In [417]:
txt = "python essential on letsupgrade.in"

In [418]:
x = txt.capitalize()

In [419]:
print(x)

Python essential on letsupgrade.in

# Casefold

In [420]:
txt = "Python Essential On LetsUpgrade.In"

In [421]:
x = txt.casefold()

In [422]:
print(x)

python essential on letsupgrade.in

# Center

In [423]:
txt = "Python Essential On LetsUpgrade.In"

In [424]:
x = txt.center (100)

In [425]:
print(x)

                                 Python Essential On LetsUpgrade.In

# Encode

In [426]:
txt = "Python Essentiål On LetsUpgråde.In"

In [427]:
x = txt.encode()

In [428]:
print(x)

b'Python Essenti\xc3\xa5l On LetsUpgr\xc3\xa5de.In'

# Endswith

In [429]:
txt = "Python Essential On LetsUpgrade.In"

In [430]:
x = txt.endswith (".")

In [431]:
print(x)

False

In [432]:
txt = "Python Essential On LetsUpgrade.In."

In [433]:
x = txt.endswith (".")

In [434]:
print(x)

True

# Expandtabs

In [447]:
txt = "H\te\tl\tl\to"

In [448]:
I =  txt.expandtabs(2)

In [449]:
print(I)

H e l l o